In [2]:
# import our packages and use aliases
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pathFolder="~/Dropbox/Adaptation_Completeness/Data/VDSA/"
class3Folder="~/Dropbox/Data Science for Social Scientists/Classes/Class 3 - Data Visualization/"

In [16]:
df=pd.read_stata(pathFolder+"vdsa_data_by_district_crop_year.dta")
df=df.loc[df.year.between(1995,2015)]
df.set_index(['statename','distname','statecode','distcode','year','crop'],inplace=True)
df=df[['yield','price','area']]
crops=['rice', 'wheat', 'sorghum', 'maize', 'pearlmillet']
df=df.query("crop==@crops")
df=df.unstack(level=-1)
df.columns = df.columns.map('_'.join)
df.reset_index(inplace=True)
for c in ['price_maize','price_pearlmillet','price_rice','price_sorghum','price_wheat']:
    df[c]= df[c].astype(str)
    df[c]= df[c].str.replace("nan","")
    df.loc[df[c]!="",c]= "R "+df[c]
for c in ['yield_maize','yield_pearlmillet','yield_rice','yield_sorghum','yield_wheat','area_maize','area_pearlmillet','area_rice','area_sorghum','area_wheat']:
    df.loc[df[c].isna(),c]=-1
df.to_stata(class3Folder+"vdsa.dta",write_index=False)
df.head()

,statename,distname,statecode,distcode,year,yield_maize,yield_pearlmillet,yield_rice,yield_sorghum,yield_wheat,price_maize,price_pearlmillet,price_rice,price_sorghum,price_wheat,area_maize,area_pearlmillet,area_rice,area_sorghum,area_wheat
0,Andhra Pradesh,Ananthapur,1,52,1995,3.500000,0.750000,2.170732,0.750000,-1.000000,,R 4253.0,R 6831.8184,,,2.00,4.00,41.00,32.000000,0.00
1,Andhra Pradesh,Ananthapur,1,52,1996,4.333333,0.666667,2.470588,0.810811,-1.000000,R 3930.0,R 4843.0,R 6866.6665,R 4749.0,,3.00,3.00,68.00,37.000000,0.00
2,Andhra Pradesh,Ananthapur,1,52,1997,1.750000,1.000000,2.074074,0.724138,-1.000000,R 4046.0,R 4913.0,R 7325.758,R 4920.0,,4.00,1.00,54.00,29.000000,0.00
3,Andhra Pradesh,Ananthapur,1,52,1998,3.000000,0.666667,2.476923,1.473684,-1.000000,R 4380.0,R 7500.0,,R 5240.0,R 4620.0,3.00,3.00,65.00,19.000000,0.00
4,Andhra Pradesh,Ananthapur,1,52,1999,3.081365,0.543353,2.587983,1.384427,0.659091,R 4547.0,R 5250.0,R 9318.182,R 6905.0,R 5330.0,3.81,1.73,58.25,32.619999,0.44

                                                         yield              \
crop                                                     maize pearlmillet
statename      distname      statecode distcode year
Andhra Pradesh Ananthapur    1         52       1995  3.500000    0.750000
                                                1996  4.333333    0.666667
                                                1997  1.750000    1.000000
                                                1998  3.000000    0.666667
                                                1999  3.081365    0.543353
...                                                        ...         ...
West Bengal    West Dinajpur 13        822      2011  5.567558         NaN
                                                2012  5.193593         NaN
                                                2013  5.477098         NaN
                                                2014  5.526453         NaN
                                                2015  5.605302         NaN

                                                                          \
crop                                                      rice   sorghum
statename      distname      statecode distcode year
Andhra Pradesh Ananthapur    1         52       1995  2.170732  0.750000
                                                1996  2.470588  0.810811
                                                1997  2.074074  0.724138
                                                1998  2.476923  1.473684
                                                1999  2.587983  1.384427
...                                                        ...       ...
West Bengal    West Dinajpur 13        822      2011  2.643872       NaN
                                                2012  2.656696       NaN
                                                2013  2.623375       NaN
                                                2014  2.804309       NaN
                                                2015  2.880007       NaN

                                                                 price  \
crop                                                     wheat   maize
statename      distname      statecode distcode year
Andhra Pradesh Ananthapur    1         52       1995       NaN     NaN
                                                1996       NaN  3930.0
                                                1997       NaN  4046.0
                                                1998       NaN  4380.0
                                                1999  0.659091  4547.0
...                                                        ...     ...
West Bengal    West Dinajpur 13        822      2011  2.597657     NaN
                                                2012  2.618847     NaN
                                                2013  2.683717     NaN
                                                2014  2.538164     NaN
                                                2015  2.571770     NaN

                                                                               \
crop                                                 pearlmillet         rice
statename      distname      statecode distcode year
Andhra Pradesh Ananthapur    1         52       1995      4253.0  6831.818359
                                                1996      4843.0  6866.666504
                                                1997      4913.0  7325.757812
                                                1998      7500.0          NaN
                                                1999      5250.0  9318.181641
...                                                          ...          ...
West Bengal    West Dinajpur 13        822      2011         NaN          NaN
                                                2012         NaN          NaN
                                                2013         NaN          NaN
                                                2014         NaN          NaN
                                                2015         NaN          NaN


crop                                                 sorghum   wheat
statename      distname      statecode distcode year
Andhra Pradesh Ananthapur    1         52       1995     NaN     NaN
                                                1996  4749.0     NaN
                                                1997  4920.0     NaN
                                                1998  5240.0  4620.0
                                                1999  6905.0  5330.0
...                                                      ...     ...
West Bengal    West Dinajpur 13        822      2011     NaN     NaN
                                                2012     NaN     NaN
                                                2013     NaN     NaN
                                                2014     NaN     NaN
                                                2015     NaN     NaN

[6531 rows x 10 columns]

In [16]:
df

,statename,distname,statecode,distcode,year,yield_maize,yield_pearlmillet,yield_rice,yield_sorghum,yield_wheat,price_maize,price_pearlmillet,price_rice,price_sorghum,price_wheat
0,Andhra Pradesh,Ananthapur,1,52,1995,3.500000,0.750000,2.170732,0.750000,NaN,NaN,4253.0,6831.818359,NaN,NaN
1,Andhra Pradesh,Ananthapur,1,52,1996,4.333333,0.666667,2.470588,0.810811,NaN,3930.0,4843.0,6866.666504,4749.0,NaN
2,Andhra Pradesh,Ananthapur,1,52,1997,1.750000,1.000000,2.074074,0.724138,NaN,4046.0,4913.0,7325.757812,4920.0,NaN
3,Andhra Pradesh,Ananthapur,1,52,1998,3.000000,0.666667,2.476923,1.473684,NaN,4380.0,7500.0,NaN,5240.0,4620.0
4,Andhra Pradesh,Ananthapur,1,52,1999,3.081365,0.543353,2.587983,1.384427,0.659091,4547.0,5250.0,9318.181641,6905.0,5330.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6526,West Bengal,West Dinajpur,13,822,2011,5.567558,NaN,2.643872,NaN,2.597657,NaN,NaN,NaN,NaN,NaN
6527,West Bengal,West Dinajpur,13,822,2012,5.193593,NaN,2.656696,NaN,2.618847,NaN,NaN,NaN,NaN,NaN
6528,West Bengal,West Dinajpur,13,822,2013,5.477098,NaN,2.623375,NaN,2.683717,NaN,NaN,NaN,NaN,NaN
6529,West Bengal,West Dinajpur,13,822,2014,5.526453,NaN,2.804309,NaN,2.538164,NaN,NaN,NaN,NaN,NaN
6530,West Bengal,West Dinajpur,13,822,2015,5.605302,NaN,2.880007,NaN,2.571770,NaN,NaN,NaN,NaN,NaN

In [ ]:
global dataFolder "~/Dropbox/Adaptation_Completeness/Data/VDSA/"
global tableFolder "~/Dropbox/Adaptation_Completeness/Tables/1st Iteration/"
cd "$dataFolder"

use "vdsa_data_by_district_crop_year.dta",clear
keep if year>1978
drop if season==3 // Drop year round crops